#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: antiquewhite;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #000000;
}

.site-title {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links > * {
  margin-right: 10px; 
}

.nav-links > *:not(:last-child) {
  margin-right: 10px; 
}

