.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px; 
    background-color: #000000; 
    z-index: 1000;
  }
  
  .site-title {
    font-size: 1.5rem; 
    color: white; 
    text-decoration: none; 
    margin-left: -840px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links > * {
    margin-right: 10px; 
  }
  
  .nav-links > *:not(:last-child) {
    margin-right: 10px; 
  }
  
  .sell {
    background-color: red;
    width: 200px;
  }
  
  .dash-comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 18px;
    width: 150px;
    font-size: 15px;  
  }
  
  .dash-comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .dash-comic-button:active {
    background-color: #f3c66d;
    box-shadow: none;
    transform: translateY(4px);
  }



  .sell-comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 18px;
    width: 150px;
    font-size: 15px;  
  }
  
  .sell-comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .sell-comic-button:active {
    background-color: #f3c66d;
    box-shadow: none;
    transform: translateY(4px);
  }
.title {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}


.title {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
.title:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}