.body {
  margin: 0 auto;
  text-align: center;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1350px; 
  margin: 0 auto; 
  gap: 20px;
}

.card {
  width: 350px;
  height: 250px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.card2 {
  width: 350px;
  height: 250px;
  background-color: #1a1a1a;
  border-radius: 10px;
  transition: all .2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.3);
}

.event-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  background-color: #1a1a1a7d;
}

.card-content h3 {
  margin: 0;
}

.card-content p {
  margin: 0;
}

.ant-modal-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.607);
}

.ant-modal-content {
  max-width: 600px;
  background-color: black;
  color: black;
}

.ant-modal-body {
  padding: 24px;
  background-color: white;
}

.ant-modal-title {
  color: white;
  font-size: 24px;
}

.ant-modal-footer {
  padding: 16px 24px;
  display: flex;
  justify-content: flex-end;
}

.modal-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buy-tickets-button {
  margin-left: auto;
}

.back-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(255, 160, 160, 0.253);
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.5s;
}

.svgIcon path {
  fill: white;
}

.filter-bar {
  z-index: 0;
  justify-content: space-between;
}

.back-top:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.5s;
  background-color: rgb(255, 103, 103);
  align-items: center;
}

.back-top:hover .svgIcon {
  transition-duration: 0.5s;
  transform: translateY(-200%);
}

.back-top::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  font-size: 0px;
}

.back-top:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.5s;
}
