/* Global styles */
img {
    border-radius: 10px;
  }
  
  .event-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap as needed */
  }
  
  .card {
    max-width: 345px;
    margin: auto; /* Center the cards within the grid */
  }
  
 /* Style the modal container */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Make sure the modal is on top of other elements */
  }
  
  /* Style the modal title */
  #event-details-modal {
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* Style the modal content */
  .modal p {
    margin-bottom: 10px;
  }
  
  /* Style the close button */
  .modal button {
    background-color: #3f51b5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add hover effect for the close button */
  .modal button:hover {
    background-color: #28377c;
  }
  