body{
    color: black;
}
.dropzone {
    border: 2px dashed #cccccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .file-list {
    list-style: none;
    padding: 0;
  }
  
  .file-item {
    margin-top: 10px;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
  }